{% extends "base.html" %}

{% block conteudo %}
<div class="container mt-5">
    <h2>Sobre Nós</h2>
    <p>
        Bem-vindo à página sobre do Blog Python! Somos apaixonados por programação e estamos aqui para compartilhar nossos conhecimentos e experiências com você.
    </p>
    <p>
        O Blog Python foi criado em 2023 e desde então temos trabalhado para trazer os melhores artigos, projetos e tutoriais sobre a linguagem Python e suas aplicações.
    </p>
    <p>
        Se você tem alguma sugestão, feedback ou gostaria de colaborar conosco, por favor, entre em contato ou cadastre-se no site!
    </p>
</div>
{% endblock %}
